<!DOCTYPE html>
<html lang="eng">
<title>NOMADIQ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
<body class="w3-light-grey">
  <!-- Navigation Bar -->
  <div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <a href="{{ url_for('welcome') }}" class="w3-bar-item w3-button w3-text-blue w3-hover-blue w3-mobile"><b><i class="fa fa-map-marker w3-margin-right"></i>nomadiq</b></a>
    <a href="{{ url_for('discover') }}" class="w3-bar-item w3-button w3-text-blue w3-hover-blue w3-text-grey w3-mobile"><b>discover</b></a>
    <a href="#" class="w3-bar-item w3-button w3-text-blue w3-hover-blue w3-text-grey w3-mobile"><b>plan</b></a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey w3-mobile"><b><i class="fa fa-user"></i> log in</b></a>
  </div>

{% block content %} {% endblock %}

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
  <!-- <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> -->
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
