{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px">
  <img class="w3-image" src="{{ url_for('static', filename='img/plane_purple_cropped.jpg') }}" alt="temp" width=100%>
  <div class="w3-display-middle" style="width:65%">

    <div class="w3-display-left w3-padding w3-col">
      <div class="w3-container w3-blue">
        <h2><i class="fa fa-robot w3-margin-right"></i>Welcome</h2>
      </div>
    <div class="w3-container w3-white w3-padding-16">
      <h4>Welcome to Nomadiq! If you're looking for travel inspiration, you've come to the right place.
        <p>Why don’t you tell me a bit about yourself so I can help you? I learn better when you create an account and link your Instagram so I can see what kinds of places you like to go to. Would you mind sharing your IG posts?</h4>
      <div  id='intro' class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half w3-margin-bottom">
          <button class="w3-bar-item w3-button w3-light-grey tablink" onclick="document.getElementById('Auth').style.display='block'" ><i class="fab fa-instagram w3-margin-right"></i>Not at all, login to Instagram.</button>
        </div>
        <div class="w3-half">
          <button class="w3-bar-item w3-button w3-light-grey tablink" onclick="openLink(event, 'List Cities');">I don’t want to share or don’t have one.</button>
        </div>
      </div>
      <div id="Logging In" class="w3-container w3-white w3-padding-16 myLink w3-mobile" style="margin:8px -16px;">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px;">
            <div class="w3-half w3-margin-bottom">
              <label>Instagram username</label>
               <input class="w3-input w3-border" type="text" placeholder="" name="ig_handle" required>
             </div>
             <div class="w3-half">
               <label>Instagram password</label>
               <input class="w3-input w3-border" type="text" placeholder="" name="ig_pw" required>
             </div>
           </div>
           <button class="w3-button w3-dark-grey" type="submit">Create Account</button>
         </form>
      </div>
      <div id="List Cities" class="w3-container w3-white w3-padding-16 myLink w3-mobile" style="margin:8px -16px;">
        <h4>That’s ok if you don’t! How about sharing a couple of your favorite locations so that I can get a sense of your travel taste? You can share multiple, feel free to list them!</h4>
        <form action="/collaborative_recommend" method="POST">
          <input name="seed_cities" class="w3-input w3-border" type="text" placeholder="{{text_guide}}">
          <p><input type="submit" class="w3-button w3-dark-grey" value="Show Recommendations"></p>
        </form>
      </div>
  </div>
</div>
</div>
</header>

{% endblock content %}
